{
  "sdk_path": "/home/YOUR_USERNAME/development/cpp-projects/logilinux-sdk",
  "examples_path": "/home/YOUR_USERNAME/development/cpp-projects/logilinux-sdk/examples",
  "library_path": "/home/YOUR_USERNAME/development/cpp-projects/logilinux-sdk/logilinux-driver/build/lib",
  "venv_python": "./venv/bin/python"
}
